n8n/workflows/payment-received-webhook.json
{
  "name": "Gym - Payment Received Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "gym/payment-received",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-payment",
      "name": "Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "gym-payment-received"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.subscription_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-has-subscription-id",
      "name": "Has subscription_id?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users_plans\nSET payment_status = 'paid'\nWHERE id = $1\nRETURNING id, payment_status;",
        "options": {
          "queryReplacement": "={{ [$json.body.subscription_id] }}"
        }
      },
      "id": "postgres-mark-paid",
      "name": "Mark Subscription Paid",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        760,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "replace-after-import",
          "name": "Gym Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"subscription_id\": $json[0]?.id ?? null,\n  \"payment_status\": $json[0]?.payment_status ?? \"paid\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1040,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"subscription_id is required\"\n}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "respond-invalid",
      "name": "Respond Invalid Payload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        760,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Payment Webhook": {
      "main": [
        [
          {
            "node": "Has subscription_id?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has subscription_id?": {
      "main": [
        [
          {
            "node": "Mark Subscription Paid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Subscription Paid": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "payment-received-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
